@font-face{
  font-family: 'Alata';
  src: local('Alata'), url(../fonts/Alata/Alata-Regular.ttf) format('truetype');
}

:root{
  --deep-blue: #001f3f;
  --accent1: #FFDC00;
  --accent2: coral;
  --accent3: #85144b;
  --background: whitesmoke;
}

body{
  background-color: var(--background);
}

.boardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 30px;
}

.board{
  margin-top: 10px;
  width: 800px;

  margin-left:auto;
  margin-right:auto;

  position: relative;
}

.boardImage{
  width: 800px;
  height: auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.selector{
  position: absolute;

  display: flex;
}

.boundingBox {
  height: 80px;
  width: 50px;
  border: solid 3px white;
}

.characterMenu {
  padding: 5px 5px;
  background-color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.characterItem:hover{
  opacity: 0.6;
  cursor: pointer;
}

.foundBox {
  position: absolute;

  height: 30px;
  width: 30px;
  border: solid 3px red;
}


.playButton{
  font-family: 'Alata';

  color: var(--deep-blue);
  background-color: var(--background);

  border: 1px solid var(--deep-blue);
  padding:0.8em 1.2em;
  border-radius: 0.18em;
  justify-content: center;
  align-content: center;

  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.hidden{
  display: none !important;
}

.playButton:hover{
  cursor: pointer;
  opacity: 0.5;
}

.strikeout {
  opacity: 0.3;
}

.secondaryDisplay{
  margin-left: auto;
  margin-right: auto;

  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center
}

.timerContainer{
  font-size: 1.5rem;
  width: 100px;
}

.charactersTab{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;

  width: 400px;
}

.characterCard{
  display: flex;
  flex-direction: column;
  align-content: center;

  height: 60px;
  width: 50px;
}

.iconContainer{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.charImg{
  height: 60px;
  width: auto;
}

.headerContainer{
  display: flex;
  padding: 20px;
  justify-content: center;
}

.header{
  font-size: 2rem;
  color: var(--deep-blue);
}

.main{
  font-family: 'Alata';
  padding-bottom: 4rem;
}

.pageContainer{
  position: relative;
  min-height: 100vh;
}

.menuContainer{
  display: flex;
  width: 80%;

  margin-left: auto;
  margin-right: auto;
}

.boardOptions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;

  margin-left: auto;
  margin-right: auto;
}

.boardButton{
  font-family: 'Alata';
  color: var(--deep-blue);
  background-color: var(--background);
  border: 1px solid var(--deep-blue);

  padding:0.8em 1.2em;
  border-radius: 0.18em;
  justify-content: center;
  align-content: center;

  display: block;

  width: 100px;
  height: 50px;

  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.boardButton:hover{
  cursor: pointer;
  opacity: 0.8;
}

.boardSelected{
  background: var(--deep-blue);
  color: whitesmoke;
}

.highScoreDisplay{
  color: var(--deep-blue);
  border-radius: 0.18em;
  display: block;
  justify-content: center;
  text-align: center;

  width: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid var(--deep-blue);
  padding: 10px 10px;
}

.highScoreLabel{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.highScoreItem{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

footer {
	position: absolute;
	bottom: 0;
  left: 0;
  height: 4rem;

	width: 100%;

	display: flex;
	justify-content: center;

	background-color: var(--background);
}

footer p {
	font-family: 'Alata';
	font-size: 1.3rem;
	color: black;

	padding: 0.5em 0;
	line-height: 2em;
}

footer p a {
  text-decoration: none;
	color: black;
  font-weight: bold;
  opacity: 0.5;
}

footer p a:hover {
	height: 10px;
  opacity: 0.8;
}